<a href="/" class="brand-logo" id="image-index"><img src="logo.jpg" width="400" height="150"></a>

<div class="home">
  <h3 class="death">Country by country data on virus [COVID-19] <p>
      <br><a class="btn btn-lg btn-primary" href="/dashboard" role="button">Statistics</a></p>
  </h3>

  <h3 class="death">Total Confirmed Cases as of November 25th</h3>
  <div class="wrapper">

    <div class="input-data">

      <form action="/dashboard" method="POST">
        <input type="text" name="country" required>
        <label for="name">Enter Country</label>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Results</button>
    </form>

  </div>
</div>
{{{body}}}
</div>


<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="container">
          <div class="carousel-caption text-left">
            <h1> Country by country data on all most dangerous virus </h1>
            <p>Covid world map: which countries have the most coronavirus cases and deaths?
              Covid-19 has spread around the planet, sending billions of people into lockdown as health services
              struggle to cope. Find out where the virus has spread, and where it has been most deadly</p>

          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="container">
          <div class="carousel-caption text-right">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <!-- Marketing messaging and featurettes
      ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">
          <h1> [SARS-CoV-2], [MARBURG],[EBOLA],[HIV], [SMALLPOX] etc..</h1>
        </span></h2>


      <p class="lead">Humans have been battling viruses since before our species had even evolved into its modern form.
        For some viral diseases, vaccines and antiviral drugs have allowed us to keep infections from spreading widely,
        and have helped sick people recover.</p>
      <p class="lead">But we're a long way from winning the fight against viruses. In recent decades, several viruses
        have jumped from animals to humans and triggered sizable outbreaks, claiming thousands of lives. The viral
        strain that drove the 2014-2016 Ebola outbreak in West Africa kills up to 90% of the people it infects, making
        it the most lethal member of the Ebola family.

      <p class="lead">But there are other viruses out there that are equally deadly, and some that are even deadlier.
        Some viruses, including the novel coronavirus currently driving outbreaks around the globe, have lower fatality
        rates, but still pose a serious threat to public health as we don't yet have the means to combat them. </p>
      <p><a class="btn btn-lg btn-primary" href="https://www.livescience.com/56598-deadliest-viruses-on-earth.html"
          role="button">The 12 deadliest viruses on Earth</a></p>
    </div>


    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="virus2.jpg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Johns Hopkins Coronavirus Resource Center. <span class="text-muted">More
          details.</span></h2>
      <p class="lead">Johns Hopkins experts in global public health, infectious disease, and emergency preparedness have
        been at the forefront of the international response to COVID-19.
      <p class="lead"> This website is a resource to help advance the understanding of the virus, inform the public, and
        brief policymakers in order to guide a response, improve care, and save lives.. </p>
      <p class="lead"><a class="btn btn-lg btn-primary" href="https://coronavirus.jhu.edu/map.html"
          role="button">Resourse Center</a></p>

    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="virus1.jpg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The chart allows us to monitor the global pandemic. <span
          class="text-muted">Checkmate.</span></h2>
      <p class="lead">
        We believe it is the most important chart to track the global outbreak of COVID-19. It shows us whether reported
        cases go to zero and crucially gives us an indication of how good that reporting is.
      </p>
      <p class="lead"> As all our work on the pandemic we will update this chart every day so that you can monitor
        whether the world is making progress to our global goal or not. </p>

      <p class="lead">To be safe anywhere, every region in the world needs to make progress against the pandemic – and
        this means dark blue lines hitting zero. Currently we are far from it. </p>

      <p class="lead"> But just as the chart before that focused on confirmed deaths, it is clear that a rapid,
        devastating outbreak is not the fate that countries inevitably face. We need to look at the countries that
        responded most successfully and learn what allows to make progress against the pandemic.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="logo3.jpg">
    </div>
  </div>

  <hr class="featurette-divider">


  </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="logo4.png" alt="Generic placeholder image" width="140" height="140">
        <h2>COVID-19 course from Johns Hopkins University</h2>

        <h4>Researches about the science of SARS-CoV-2 , including the infectious period, the clinical presentation of
          COVID-19, and the evidence for how SARS-CoV-2 is transmitted from person-to-person and why contact tracing can
          be such an effective public health intervention. </h4>
        <p><a class="btn btn-secondary" href="https://www.coursera.org/learn/covid-19-contact-tracing"
            role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="logo5.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>What are the symptoms of COVID-19?</h2>
        <h4>Patients with COVID-19 have had mild to severe respiratory illness with symptoms of
          • fever
          • cough
          • shortness of breath <br>
          COVID-19 affects different people in different ways. Infected people have had a wide range of symptoms
          reported – from mild symptoms to severe illness.
          Symptoms may appear 2-14 days after exposure to the virus.

          <p><a class="btn btn-secondary"
              href="https://www.google.com/search?q=What+are+the+symptoms+of+COVID-19%3F&rlz=1C5CHFA_enUS886US889&oq=What+are+the+symptoms+of+COVID-19%3F&aqs=chrome..69i57j0i457j0l6.367j0j4&sourceid=chrome&ie=UTF-8"
              role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="logo6.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <h4>Active COVID-19 outbreaks at Colorado social gatherings, restaurants, schools and more.There are 587
          COVID-19 outbreaks that are listed as active in Colorado as of Nov. 4.</h4>
        <h4> Lates News read here:</h4>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

</main>